<div class="large-4 small-12 columns">
     
  <img src="http://image.tmdb.org/t/p/w300{{poster_path}}" />

  <div class="hide-for-small panel">
    <h3>{{title}}</h3>
    <h5 class="subheader">
    	{{overview}}
    </h5>
    <h6 class="subheader">Rating: 
    	<span class="fi-star"></span>
    	<span class="fi-star"></span>
    	<span class="fi-star"></span>
    	<span class="fi-star"></span>
    </h6>
  </div>

	<!--See Movie Details Page Link-->
  <a href="#">
  <div class="panel callout radius">
    <a href="#/movie/{{id}}"><h6>See More &rsaquo;</h6></a>
  </div>
  </a>

      <!-- <watchlist /> -->
</div>
