<!--Footer-->
<div id="footer_wrapper">
    <div class="row">
        <div class="large-12 columns">
        	<ul class="footer_links">
        	    <li><a href="#">Privacy + Security</a></li>
        	    <li class="spacer" aria-hidden="true"> | </li>
        	    <li><a href="#">Terms + Conditions</a></li>
        	    <li class="spacer" aria-hidden="true"> | </li>
        	    <li class="spacer" aria-hidden="true"> | </li>
        	    <li><a href="#">About this Site</a></li>
        	    <li class="spacer" aria-hidden="true"> | </li>
        	</ul>
        	<p class="footer_copy">2015 SVehrenkamp</p>
        </div>
    </div>
</div>