<div  class="large-4 small-6 columns movie">
                  	<a href="javascript:void(0)">
	                  <img ng-if="movie.poster_path" src="http://image.tmdb.org/t/p/w300{{poster_path}}" />
                    <img ng-if="!movie.poster_path" src="assets/images/no-image.jpg" />
	     
	                  <div class="panel">
	                    <h5>{{title}}</h5>
	                    <h6 class="subheader">Rating: {{vote_average}}</h6>
                      {{#if favorite}}
                      <div class="list-icon">
                        <span class="fi-check favorite"></span>
                      </div>

                      {{else}}
                      <div class="list-icon">
                        <span class="fi-plus add-btn"></span>
                      </div>
                      {{/if}}

	                  </div>

	              	</a>

                </div>