<div class="row">
        <div class="large-12 columns">
     
     	<h2>{{header}}</h2>
          <div class="row">
          
            <div class="movie-active"></div>
     
         
     
     
         
     
            <div class="large-8 columns">
              <div class="row movies">
     
                
              </div>

     
         
     
     
         
           
     <!--Pagination-->
         <pagination></pagination>
         
     
              </div>
            </div>
          </div>
     
     

     
     
         
     
        </div>
      </div>