<!--Desktop Nav-->
<div>
  <nav class="top-bar">
    <div class="nav-inner">
        <ul class="title-area">
          <li class="name">
            <h1>moviesApp</h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li ui-sref-active="active"><a ui-sref="new">New Movies</a></li>
            <li ui-sref-active="active"><a ui-sref="popular">Popular Movies</a></li>
            <li ui-sref-active="active"><a ui-sref="search">Search Movies</a></li>
            <li ui-sref-active="active"><a ui-sref="favorites">My Favorites</a></li>
          </ul>
        </section>
        
    </div>
  </nav>  
</div>